@model IEnumerable<ExemploMVC.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Novo Usuário", "Novo", "Usuarios")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Editar", "Usuarios", new { id = item.Id }, new { }) |
                @Html.ActionLink("Details", "Detalhes", "Usuarios", new { id = item.Id }, new { }) |
                @Html.ActionLink("Delete", "Deletar", "Usuarios", new { id = item.Id }, new { })
            </td>
        </tr>
    }

</table>
